useDynLib(catdap, .registration = TRUE, .fixes = "C_")

import(graphics)
importFrom(grDevices, dev.new, gray)
importFrom(RColorBrewer, brewer.pal)
importFrom(methods, is)

export(catdap1, catdap1c, catdap2, Barplot2WayTable)

S3method(print, catdap1)
S3method(print, catdap2)
